Repository ccmbioinfo/stager, pull requests merged in 2021-09, with the labels that each got.

#799 Fixed missing fields bug
  flask/app/analyses.py
Labels: backend

#757 Flask/Keycloak: Enable token-based authentication
  docker-compose.oidc.yaml
  docs/oidc.md
  flask/app/analyses.py
  flask/app/buckets.py
  flask/app/models.py
  flask/tests/conftest.py
Labels: documentation, backend, database, devops, tests

#807 React: ensure default objects have a prototype
  react/src/functions.tsx
Labels: bug, frontend

#806 Flask/ React: Fixed delete bug
  flask/app/datasets.py
  flask/app/models.py
  flask/tests/conftest.py
  flask/tests/test_datasets.py
  flask/tests/test_misc.py
  flask/tests/test_samples.py
  react/public/index.html
  react/src/Datasets/components/DatasetTable.tsx
  react/src/components/ConfirmModal.tsx
  react/tsconfig.json
Labels: backend, frontend, database, tests

#805 Flask: add query params to perform exact search by codename in GET datasets/participants
  flask/app/datasets.py
  flask/app/participants.py
  flask/app/utils.py
  flask/tests/conftest.py
  flask/tests/test_analyses.py
  flask/tests/test_datasets.py
  flask/tests/test_families.py
  flask/tests/test_participants.py
Labels: backend, tests

#820 Flask: Ignore empty lines in csvs during bulk upload
  flask/app/routes.py
  flask/tests/test_misc.py
Labels: backend, tests

#823 Update flask.md
  docs/flask.md
Labels: documentation

#822 React/Flask: Added sequencing ID field in Dataset table
  flask/app/datasets.py
  flask/tests/conftest.py
  flask/tests/test_datasets.py
  react/src/Datasets/components/DatasetTable.tsx
Labels: backend, frontend, tests

#821 React: Added aggregate notes popover on Analysis page
  flask/app/analyses.py
  react/src/Analyses/components/AnalysisNotes.tsx
  react/src/Analyses/index.tsx
Labels: backend, frontend

#825 React: Exact search toggle for family and participant codenames
  react/src/Datasets/components/DatasetTable.tsx
  react/src/Participants/components/ParticipantTable.tsx
  react/src/components/DetailSection.tsx
  react/src/components/ExactMatchFilterToggle.tsx
  react/src/components/index.tsx
  react/src/functions.tsx
  react/src/hooks/datasets/useDatasetsPage.tsx
  react/src/hooks/utils.tsx
  react/src/typings.tsx
Labels: frontend

#837 CI: rewrite frontend workflow to use separate environments for security
  .github/workflows/react.yml
Labels: devops

#818 React/Flask: Add RNAseq fields to dataset entry flow
  flask/app/buckets.py
  flask/app/datasets.py
  flask/app/models.py
  flask/app/routes.py
  flask/migrations/versions/83abd5d883b6_add_vcf_available_and_candidate_genes_.py
  flask/tests/test_misc.py
  react/src/AddDatasets/components/DataEntryTable.tsx
  react/src/AddDatasets/components/DataEntryTableRow.tsx
  react/src/AddDatasets/components/DataEntryToolbar.tsx
  react/src/AddDatasets/components/TableCells.tsx
  react/src/AddDatasets/components/utils.tsx
  react/src/AddDatasets/index.tsx
  react/src/Analyses/components/AnalysisNotes.tsx
  react/src/Datasets/components/AnalysisRunnerDialog.tsx
  react/src/Datasets/components/DatasetTable.tsx
  react/src/SearchVariants/components/GeneAutocomplete.tsx
  react/src/SearchVariants/components/SearchVariantsPage.tsx
  react/src/components/AutocompleteMultiselect.tsx
  react/src/components/FileLinkingComponent.tsx
  react/src/components/Note.tsx
  react/src/components/index.tsx
  react/src/functions.tsx
  react/src/hooks/bulk/useBulkCreateMutation.tsx
  react/src/hooks/genes/useGenesQuery.ts
  react/src/typings.tsx
Labels: backend, frontend, database, tests
